/* Department Cards */
.dept-card{
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 15px 30px rgba(0,0,0,0.08);
  transition:0.3s;
}

.dept-card:hover{
  transform:translateY(-5px);
}

/* Card Header Section */
.card-top{
  padding:10px 8px;
  text-align:center;
  color:white;
}

.card-top i{
  font-size:45px;
  margin-bottom:10px;
}

/* Gradient Colors */
.it-gradient{
  background:linear-gradient(135deg,#ff4b4b,#ff1e56);
}

.hardware-gradient{
  background:linear-gradient(135deg,#ff8a00,#ff5e00);
}

.admin-gradient{
  background:linear-gradient(135deg,#2c7a7b,#285e61);
}

/* Bottom White Section */
.card-bottom{
  background:#f9f9fb;
  padding:10px;
}

.it-cardBottom {
  height: 16.5vh !important;
}

.card-bottom p{
  color:#6c757d;
  margin-bottom:5px;
}

/* Sub Items */
.sub-item{
  background:#ffffff;
  border-radius:10px;
  padding:10px 15px;
  margin-top:10px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  box-shadow:0 3px 8px rgba(0,0,0,0.05);
  cursor:pointer;
  transition:0.2s;
}

.sub-item:hover{
  background:#f1f1f5;
}

/* Collapse Header */
.collapse-header{
  margin:15px;
  margin-bottom: 10px;
  /* background:linear-gradient(90deg,#ff3d3d,#ff1e56); */
  color:white;
  padding:6px 6px;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight:500;
}

/* Table */
.table-wrapper{
  margin:15px;
  margin-top: 0px;
  background:white;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.table thead{
  background:#5b5b5f;
  color:white;
}

.table th{
  padding:15px;
  font-weight:500;
}

.table td{
  padding:15px;
}

app-footer {
  margin-top: auto;
}








.nav-link.active {
  background-color: var(--bg-red);
  color: white;
  width: 100%;
}

.nav-link:hover {
  background-color: #4a4b4b;
}

.nav-link {
  background-color: var(--bg-dark-gray2);
  color: white;
  width: 100%;
}

.nav-tabs {
  position: sticky;
  top: 0;
  background-color: white;
}

.section-title {
  font-size: 1.5rem;
  color: #333;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

#myTabContent {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.section-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.section-content p {
  margin: 0.5rem;
}

.section-content h5 {
  margin-top: 10px;
}

.scroller {
  width: 100%;
  height: calc(100vh - 6.5rem - 9vh);
}

.csv-format {
  padding: 15px;
}

.edit-usersection {
  border-bottom: 1px solid black;
  text-align: center;
}

.sub-section {
  margin-top: 20px;
}

.sub-section h5 {
  font-size: 1.1em;
  margin-bottom: 10px;
  text-decoration: underline;
}

.sub-section p {
  margin-bottom: 10px;
}

.sub-section ol {
  margin-bottom: 20px;
}

.index-content a {
  color: rgb(1, 1, 105);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

.index-content a:hover {
  color: rgb(217, 72, 72);
}

.guide-scroll {
  height: calc(100vh - 160px);
  overflow-y: auto;
  padding-right: 10px;
}

.fix-height {
  height: 62vh;
}

.text-heading {
  height: 10vh;
}
