.user-form-container {
  text-align: end;
}

.row-100 {
  flex: 1;
  padding: auto;
}

.disabled {
  pointer-events: none;
}

.btn-outline-secondary {
  width: 14ch;
  background-color: var(--bg-dark-gray2);
}

.btn-check:checked+.btn,
.btn.active {
  width: 14ch;
  background-color: #0d6efd;
}

.btn-check:checked+.btn:hover {
  width: 14ch;
  background-color: #0d6efd;
}

.btn-check+.btn:hover {
  background: var(--bg-dark-gray1);
  color: var(--white);
}

.create {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link.active {
  background: var(--bg-red);
  border: none;
  color: var(--white);
}

.nav-link {
  color: var(--black);
  font-weight: 500;
}

.nav-link[disabled] {
  background-color: grey;
  color: lightgrey;
  cursor: not-allowed;
}

.bg-disabled {
  background-color: var(--bg-dark-gray3);
  color: var(--white);
}

.bg-terminated {
  background-color: var(--bg-light-red2);
  color: var(--white);
  opacity: 0.6;
}

.modal-header {
  background-color: var(--bg-dark-gray2);
  padding: 0.5rem 1.5rem;
}

.modal-title {
  color: var(--white);
}

.btn-close {
  color: var(--white);
  opacity: 1;
}

.modal-body {
  background: var(--bg-light-gray3);
  padding: 1rem 1.5rem;
}

.statistics {
  background-color: var(--bg-light-gray3);
  padding: 1rem;
  border-radius: 2rem;
}

hr {
  margin: 0.2rem 0;
}

.input-group-text {
  padding: 0.2rem 0.2rem 0.2rem 0.3rem;
  background: var(--bg-dark-gray1);
  color: var(--white);
  border-radius: 0.375rem;
}

/* form container design  */
/* table design  */
.user-container {
  position: relative;
  margin: 2rem 0 1rem;
  overflow-x: overlay;
  overflow-y: overlay;
  height: 80vh;
}

.stockHistoryTable-container {
  position: relative;
  overflow-x: overlay;
  overflow-y: overlay;
  height: 70vh;
}

.stockHistoryTable-container::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

.stockHistoryTable-container::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark-gray2);
}

.stockHistoryTable-container::-webkit-scrollbar-track {
  background-color: var(--bg-light-gray3);
}

thead {
  position: sticky;
  top: 0px;
}

th,
td {
  text-align: center;
}

.background-dark {
  background-color: var(--bg-dark-gray1);
  color: var(--white);
}

.value-row:hover {
  border-top: 0.2rem solid var(--bg-red);
  border-bottom: 0.2rem solid var(--bg-red);
  cursor: pointer;
}

.delete-icon,
.edit-icon {
  width: 1.2rem;
}

/* table design  */
.detailsHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.detailsValue {
  font-size: 1.2rem;
  font-weight: 400;
}

.error-bg {
  background-color: var(--bg-light-red3);
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.input-group-text {
  background-color: var(--white);
  padding: 0;
}

/* header color section of view modal  */
.color-cot,
.color {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  margin-left: 3rem;
  color: var(--white);
}

.consumed {
  background-color: var(--bg-red);
}

.issue {
  background-color: var(--bg-light-orange-dark);
}

.create {
  background-color: var(--bg-green);
}

.transaction {
  text-transform: capitalize;
}

.return {
  background-color: var(--bg-blueviolet);
}

.move {
  background-color: var(--bg-brown);
}

.box {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
}

.btn-close {
  margin-left: auto;
}

.red {
  color: var(--red);
  font-weight: 500;
}

.green {
  color: var(--green);
  font-weight: 500;
}

.orange {
  color: var(--dark-orange);
  font-weight: 500;
}

.violet {
  color: blueviolet;
  font-weight: 500;
}

.brown {
  color: var(--brown);
  font-weight: 500;
}

.row-detail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 1rem;
}

.text-container {
  text-align: start;
}

.text-container:nth-child(8) {
  grid-column: span 3;
}

/* Adjust the width of the Note column */
.col-header:nth-child(8),
.col-data:nth-child(8) {
  width: 300px;
}

/* search bar design  */
.search-container {
  margin-right: 0;
  width: auto;
}

.search-category {
  width: 25%;
}

.search-category:focus {
  border-color: var(--bg-light-orange1);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--bg-light-orange2);
}

.btn-link {
  text-decoration: none;
  font-weight: 500;
  display: block;
  width: 76%;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
}

.suppText-container {
  text-align: start;
  margin-bottom: 1rem;
}

.suppText-container h5 {
  margin-bottom: 0;
}

.suppText-container h4 {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.suppText-container p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.accordion-collapse {
  background: var(--bg-white);
  padding: 0.5rem 1rem;
}

.search-box {
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
}

.accordion-body {
  padding: 0.5rem 2rem;
}

/* Active table row */
.table-active {
  background-color: var(--bg-light-blue2);
  --bs-table-bg-state: unset !important;
}

.cursor-pointer {
  cursor: pointer
}

.searchHistory-btn {
  padding: 0.25rem;
  width: 10ch;
}

.ng-autocomplete {
  width: 100%;
  display: block;
  /* height: 4ch; */
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-link {
  color: var(--black);
}

.page-link:focus {
  box-shadow: none;
}

.page-item.active .page-link {
  background-color: var(--bg-red);
  border-color: var(--white);
  color: var(--white);
}

.select-pageNo {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.select-pageNo .form-select {
  width: 10%;
  margin-left: 1rem;
}

.select-pageNo .form-label {
  margin-bottom: 0;
}

.right-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-notification {
  background: var(--bg-white);
  width: 100%;
  color: var(--black);
  margin-right: 0.5rem;
}

.no-data-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  color: red;
  background: #fafafa;
}
