#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

.scrolling-text-container {
  display: flex;
  align-items: center;
  margin: 0.3rem;
  background: var(--bg-white);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.notification-update {
  padding: 3px 7px;
  background-color: var(--bg-dark-gray1);
  color: var(--white);
}
