.hero {
  display: flex;
  justify-content: center;
}

.scrolling-text-container {
  display: flex;
  align-items: center;
  margin: 0.3rem;
  background: var(--bg-white);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.notification-update {
  padding: 3px 7px;
  background-color: var(--bg-dark-gray1);
  color: var(--white);
}

.btn-check:checked+.btn,
.btn.active {
  width: 30ch;
  background-color: var(--bg-red);
}

.btn-check:checked+.btn:hover {
  width: 30ch;
  background-color: #0d6efd;
}

.btn-check+.btn:hover {
  background: var(--bg-dark-gray1);
  color: var(--white);
}

/* modal design  */
.modal-header {
  background-color: var(--bg-dark-gray2);
  padding: 0.5rem 1.5rem;
}

.modal-title {
  color: var(--white);
}

.btn-close {
  color: var(--white);
  opacity: 1;
}

.modal-body {
  background: var(--bg-light-gray3);
  padding: 1rem 1.5rem;
}

.form-container {
  margin: 1rem 0;
}

.form-group {
  margin: 0;
}


.error-message {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.col-lg-8 input[type="radio"] {
  margin-right: 10px;
}

.col-lg-8 label {
  margin-right: 30px;
}

.create-component {
  text-align: center;
}

.create-component .btn {
  margin-left: auto;
  display: inline-block;
  width: 100%;
}


.create-inventory {
  text-align: center;
}

.inven-btn {
  margin-left: auto;
  display: inline-block;
  width: 100%;
}

.background-dark {
  background-color: var(--bg-dark-gray1);
  color: var(--white);
}

.repeatedComponent-container {
  position: relative;
  overflow-x: overlay;
  overflow-y: overlay;
  height: 70vh;
}

.repeatedComponent-container::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

.repeatedComponent-container::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark-gray2);
}

.repeatedComponent-container::-webkit-scrollbar-track {
  background-color: var(--bg-light-gray3);
}

thead {
  position: sticky;
  top: 0px;
}

.alert-text {
  font-size: 1.5rem;
  color: var(--red);
  text-shadow: 0 0 0.5px #878787;
}

.bg-repeat {
  background: #ff003861;
}


.notification-box {
  background: var(--bg-light-gray2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0.2rem;
  margin: 0 1.5rem;
}

.stockName {
  padding: 3px 7px;
}

.green {
  background: green;
  color: #fff;
}

.orange {
  background: orange;
  color: #fff;
}

.red {
  background: red;
  color: #fff;
}

.down-arrow {
  width: 1.1rem;
  filter: invert(1);
  margin-bottom: 0.2rem;
}

.btn {
  width: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.cross-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 0.3rem;
}
