.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.not-found-content {
  text-align: center;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 20px;
}

/* Ensures the button takes up its own line and is centered */
 .home-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-button {
  background-color: var(--bg-red);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.home-button:hover {
  background-color: var(--bg-dark-gray2);
}

.image-container {
  margin-bottom: 30px;
  text-align: center;
}

.error-image {
  width: 200px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}





