.single-container {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 14px;
  background: var(--bg-dark-gray2);
  height: 100%;
  padding-bottom: 0.5rem;
}

.heading {
  padding: 1rem;
}

.single-container h4 {
  margin: 0;
  color: var(--white);
  font-size: 1.5rem;
}

.single-btn-container {
  padding: 1rem;
  border-radius: 11px;
  background: var(--bg-white);
  flex: 1;
  overflow: overlay;
}

.btn-add {
  margin-top: 0.5rem;
}

.single-btn-container::-webkit-scrollbar {
  width: 0.2rem;
}

.single-btn-container::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark-gray2);
}

.single-btn-container::-webkit-scrollbar-track {
  background-color: var(--bg-dark-gray2);
}


.component-btn {
  width: 100%;
  margin: 0.5rem 0;
  background-color: var(--bg-light-gray3);
  color: var(--black);
  padding: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.component-btn:hover {
  background-color: var(--bg-red);
  color: var(--white);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

/* modal design  */
.modal-header {
  background-color: var(--bg-dark-gray2);
  color: var(--white);
  padding: 0.5rem 1rem;
}

/* form design  */
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  margin-top: 0.5rem;
}

/* form design  */
.btn-close {
  color: var(--white);
  opacity: 1;
}


/* modal design  */
.icons {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  vertical-align: middle;
}

.cross-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 0.3rem;
}


/* table design  */
.table-container {
  position: relative;
  overflow-x: overlay;
  overflow-y: overlay;
  height: 18rem;
  flex: 1;
}


.table-container::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark-gray2);
}

.table-container::-webkit-scrollbar-track {
  background-color: var(--bg-light-gray3);
}

.add-btn {
  text-align: center;
  margin-bottom: 0.6rem;
}

.wrapper {
  display: grid;
  grid-auto-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-flow: row;
  padding: 0;
}

.list {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
}

.modal-body {
  background-color: var(--bg-light-gray3);
}

.background-dark {
  background-color: white;
}

.disabled {
  background: rgb(218, 218, 218);
}

.table-scroll-wrapper {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: auto;
  /* border: 1px solid #ddd; */
}

.custom-table thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.no-data-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  color: red;
  background: #fafafa;
}



















.layout {
  display: flex;
  height: 90vh;
  width: 100vw;
}

/* SIDEBAR */
.sidebar {
  width: 315px;
  background: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 10px;
  background: linear-gradient(180deg, #7c7c7c, #9a9a9a);
  color: white;
  font-weight: 600;
  border-top-right-radius: 5px;
}

.sidebar-header h3 {
  margin: 0;
}

.sidebar-menu {
  padding: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  margin-bottom: 12px;
  border-radius: 10px;
  background: #f5f7fa;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}

.menu-item:hover {
  background: #e8eefc;
}

.menu-item.active {
  background: #e1ebff;
  color: var(--bg-red);
  border-left: 5px solid var(--bg-red);
}

.menu-icon {
  font-size: 18px;
}

/* CONTENT */
.content {
  flex: 1;
}

/* CARD */
.card {
  background: #ffffff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  height: 90vh;
}

/* CARD HEADER */
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-top h2 {
  margin: 0;
  font-weight: 600;
}

/* EXPORT BUTTON */
.export-btn {
  background: var(--bg-red);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.export-btn:hover {
  background: var(--bg-red);
}

/* SEARCH */
.search-wrapper {
  margin-bottom: 20px;
}

.search-wrapper input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  background: #f7f9fc;
}

/* TABLE */
.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table thead {
  background: #f5f7fa;
}

.custom-table th,
.custom-table td {
  padding: 10px;
}

.custom-table tbody tr {
  border-bottom: 1px solid #f0f0f0;
}

.text-center {
  text-align: center;
}

/* EDIT BUTTON */
.edit-btn {
  background: var(--bg-red);
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}

.edit-btn:hover {
  background: var(--bg-red);
}

.user-header {
  background: #ffffff;
  padding: 5px 5px;
  border-radius: 14px;
  border: 1px solid #e9ecef;
}

.user-header small {
  font-size: 13px;
}

.custom-table-head {
  background-color: var(--bg-dark-gray2);
  border-bottom: 2px solid var(--black);
}

.custom-table-head th {
  font-weight: 600;
  color: var(--black);
  padding: 12px;
  font-size: 14px;
}

.custom-checkbox {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid var(--bg-dark-gray2);
}

.custom-checkbox:checked {
  background-color: var(--bg-red);
  border-color: var(--bg-red);
}

th:first-child,
td:first-child {
  vertical-align: middle;
}
