.background-dark {
  background-color: var(--bg-dark-gray1);
  color: var(--white);
}

thead {
  position: sticky;
  top: 0px;
}

th,
td {
  text-align: center;
}

.color-cot,
.color {
  display: flex;
  justify-content: center;
  align-items: center;

}

.color {
  margin-left: 3rem;
  color: white;
}

.issue {
  background-color: var(--bg-light-orange-dark);
}

.create {
  background-color: var(--bg-green);
}

.return {
  background-color: var(--bg-blueviolet);
}

.box {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
}

.btn-close {
  margin-left: auto;
}

.modal-header {
  background-color: var(--bg-dark-gray2);
  padding: 0.5rem 1.5rem;
}

.form-check-input {
  margin: 4px 3.2px 3.2px 0;
}

.modal-title {
  color: var(--white);
}

.btn-close {
  color: white;
  opacity: 1;
}

.nav-link.active {
  background: var(--bg-red);
  border: none;
  color: var(--white);
}

.nav-link {
  color: var(--black);
  font-weight: 500;
}

.select-pageNo {
  width: 100%;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.select-pageNo .form-select {
  width: 30%;
  margin-left: 1rem;
}

.select-pageNo .form-label {
  margin-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-link {
  color: var(--black);
}

.page-link:focus {
  box-shadow: none;
}

.page-item.active .page-link {
  background-color: var(--bg-red);
  border-color: var(--white);
  color: var(--white);
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.value-row:hover {
  cursor: pointer;
}


.right-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-detail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.text-container {
  box-sizing: border-box;
}

.text-container:nth-child(4) {
  grid-column: span 1;
}

.detailsHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.detailsValue {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.btn-initiate {
  display: flex;
  justify-content: center;
  align-items: center;
}
