<!-- <div class="scrolling-text-container">
  <span class="notification-update">Notifications</span>
  <marquee behavior="scroll" scrollamount="10" direction="left" class="scroller-ticker">
    <span *ngIf="outOfStockComponents.length === 0" style="margin-right: 40px; color: red;" class="stockName"> Welcome to Acevin Solution Inventory Software... </span>
    <span class="notification-box" *ngFor="let stockOut of outOfStockComponents">
      <span class="stockName gap">{{stockOut.manufacturerPartNumber}}-</span>
      <span class="stockName gap">{{stockOut.projectName}}-</span>
      <span class="stockName gap">{{stockOut.quantity}}-</span>
      <span class="stockName gap">[{{stockOut.notificationQuantity}}] </span>
    </span>
  </marquee>
</div> -->

